* {
    box-sizing:border-box;
    /*border:1px solid grey;*/
    font-family: 'Roboto Mono', monospace;
    text-align:center;
}

html {
    font-size:62.5%;
}

p {
    font-size: 1.8rem;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size:7rem;
}

h2{
    font-size: 1.8rem;
    font-style:bold;
    margin-left: 1px;
    margin-right: 1px;
}

.top-navi {
    font-size: 2rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:20px;
    padding-bottom: 20px;
    margin-left:200px;
    margin-right:200px;
}

.bottom-navi {
    font-size: 2rem;
    background-color:#F9E7DC;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:20px;
    padding-bottom: 20px;
    margin-left:200px;
    margin-right:200px;
}

.main {
    display:inline-block;
}
.main-text {
    float:right;
    padding-left:10px;
    padding-right:200px;
    padding-top:80px;
    margin-left:10px;
}

#circle-pic{
    border-radius: 50%;
    width: 20%;
    margin:2% 2% 2% 10%;
}

.first-section {
    color:white;
    background-color:#DDB9A3;
    text-align:center;
    letter-spacing:1.5px;
    padding:0 10%;
    padding-left:60px;
    padding-right:60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-left:80px;
    margin-right:80px;
    font-size:1.4rem;
}

.parent-bottom {
    display:inline-block;
    width:60%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 40px;
    background-color:#F9E7DC;
}

.plan-box {
    color:white;
    background-color:#FF764E;
    border-radius:10px;
    padding: 14px 16px;
}

.learn-box {
    color:white;
    background-color:#5ED3EB;
    border-radius:10px;
    padding: 14px 16px;
}

.involved-box {
    color:white;
    background-color:#FFCD69;
    border-radius:10px;
    padding: 14px 16px;
}

.footer-img{
    background-image: url(./assets/footer_img.jpg);
    padding:5%;
    margin: 0 auto;
}

.header-pic { 
    border-radius:50%;
    width:20%;
    margin:2% 2% 2% 10%;
}

#half-dome-pic {
    width:100%;
    height: 50vh;
}

.fires img {
    max-width: 140px;
    max-height: 140px;
}

.camper img {
    max-width: 140px;
    max-height: 140px;
}